<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="用户名称">
      <input nz-input>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="手机号码">
      <input nz-input>
    </nz-input-group>
    <div nz-col [nzSpan]="6" class="actions">
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th>用户头像</th>
    <th>用户昵称</th>
    <th>手机号码</th>
    <th>性别</th>
    <th>观看直播时间</th>
    <th>观看时长</th>
    <!--<th>操作</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td>用户头像</td>
    <td>{{item.nickname}}</td>
    <td>{{item.phone}}</td>
    <td>性别</td>
    <td>{{item.fromTime}}</td>
    <td>观看时长</td>
    <!--<td>
      <a>禁言</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>踢出</a>
    </td>-->
  </tr>
  </tbody>
</nz-table>
<app-set-user
  [(visiable)]="modalShow"
  type="watching"
></app-set-user>
