<nz-spin [nzSpinning]="loading">
  <ul class="top">
    <li class="first">
      <div class="content">
        {{detail?.context}}
        <!--<div class="img-box">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>-->
        <div class="action">
          <span>{{detail?.username}}</span>
          <span>{{detail?.barName}}</span>
          <span>{{detail?.createTime}}</span>
          <a
            nz-popconfirm
            nzPopconfirmTitle="确认删除该贴?"
            (nzOnConfirm)="onDelete(detail?.id)"
            style="color: red;margin-right: 0"
          >删除</a>
        </div>
      </div>
    </li>
    <li *ngFor="let item of topList">
      <div class="user">
        <img [src]="item.headerImg" alt="">
        <span>{{item.username}}</span>
      </div>
      <div class="content">
        {{item.context}}
        <div class="action">
          <span>{{item.floorNum}}楼</span>
          <span>{{item.createTime}}</span>
          <a
            nz-popconfirm
            nzPopconfirmTitle="确认删除该层回复?"
            (nzOnConfirm)="onDeleteComment(item.id)"
          >删除</a>
        </div>
        <ul class="sub" *ngIf="item.subCount>0">
          <li *ngFor="let sub of getSubList(item.id)">
            <div class="user"><img [src]="sub.headerImg" alt="">{{sub.username}}</div>
            <div class="content">
              {{sub.context}}
            </div>
            <div class="action">
              <span>{{sub.createTime}}</span>
              <a
                nz-popconfirm
                nzPopconfirmTitle="确认删除该层回复?"
                (nzOnConfirm)="onDeleteComment(sub.id)"
              >删除</a>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nz-spin>
