<nz-modal
  [nzVisible]="visiable"
  nzTitle="禁言主播"
  [nzWidth]="600"
  (nzOnCancel)="form.reset({bannedStatus:0});visiableChange.emit(false)"
  (nzOnOk)="submit()"
  [nzOkDisabled]="!form.valid"
  [nzOkLoading]="submiting"
>
  <nz-form-item>
    <nz-form-label [nzSm]="4" nzRequired>禁播时间</nz-form-label>
    <nz-form-control [nzSm]="17">
      <nz-range-picker
        style="width:100%"
        nzShowTime
        [(ngModel)]="dateRange"
        (ngModelChange)="setDateRange()"
      ></nz-range-picker>
    </nz-form-control>
  </nz-form-item>
  <div nz-col nzOffset="4" nzSpan="17">
    请确定是否对主播({{detail?.nickname}})进行禁播操作，禁播后用户在移动端无法进行开启直播操作！
  </div>
</nz-modal>
