<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="消息内容">
      <input nz-input [(ngModel)]="search.content">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="消息状态">
      <nz-select [(ngModel)]="search.status">
        <nz-option nzLabel="待发送" [nzValue]="0"></nz-option>
        <nz-option nzLabel="未读取" [nzValue]="1"></nz-option>
        <nz-option nzLabel="已读取" [nzValue]="2"></nz-option>
      </nz-select>
    </nz-input-group>
    <div nz-col [nzSpan]="6" class="actions">
      <button
        *appAuthority="'create'"
        type="button"
        nz-button
        (click)="selected=null;modalShow=true"
      >创建消息
      </button>
      <button
        *appAuthority="'delete'"
        type="button"
        nz-button
        nzType="danger"
        [disabled]="setOfCheckedId.size==0"
        (click)="onDelete()"
      >删除
      </button>
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th
      [nzChecked]="allChecked"
      [nzIndeterminate]="false"
      (nzCheckedChange)="onAllChecked($event)"
      nzWidth="100px"
    ></th>
    <th>消息内容</th>
    <th>发送用户类型</th>
    <th>发送范围</th>
    <th>发送时间</th>
    <th>状态</th>
    <th>操作
    <th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td
      [nzChecked]="setOfCheckedId.has(item.id)"
      (nzCheckedChange)="onItemChecked(item.id, $event)"
    ></td>
    <td>{{item.content}}</td>
    <td [ngSwitch]="item.type">
      <span *ngSwitchCase="0">全部</span>
      <span *ngSwitchCase="1">主播用户</span>
      <span *ngSwitchCase="2">方案用户</span>
    </td>
    <td>{{item.levelId == 'Lv0' ? '全部' : item.levelId}}</td>
    <td>{{item.sendTime}}</td>
    <td [ngSwitch]="item.status">
      <span *ngSwitchCase="0">待发送</span>
      <span *ngSwitchCase="1">未读取</span>
      <span *ngSwitchCase="2">已读取</span>
    </td>
    <td [ngSwitch]="item.status">
      <ng-container *ngSwitchCase="0">
        <ng-container *appAuthority="'edit'">
          <a (click)="selected=item;modalShow=true">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-container>
        <a
          *appAuthority="'send'"
          nz-popconfirm
          nzPopconfirmTitle="确认发送？"
          (nzOnConfirm)="updateItem(item.id)"
        >发送</a>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <a>无</a>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <a
          *appAuthority="'delete'"
          (click)="onDeleteSingle(item.id)"
        >删除</a>
      </ng-container>
    <td>
  </tr>
  </tbody>
</nz-table>
<app-message-form
  [detail]="selected"
  [(visiable)]="modalShow"
  (submitSuccess)="onSubmitSuccess()"
></app-message-form>
