<nz-modal
  [nzTitle]="title"
  [nzVisible]="visiable"
  [nzWidth]="600"
  (nzOnCancel)="form.reset();visiableChange.emit(false)"
  (nzOnOk)="submit()"
  [nzOkDisabled]="!form.valid"
>
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>登录账号</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input formControlName="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>手机号码</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input formControlName="mobile"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>账号角色</nz-form-label>
      <nz-form-control [nzSm]="17">
        <app-role-select formControlName="roleId"></app-role-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="detail==null">
      <nz-form-label [nzSm]="4" nzRequired>账号密码</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input type="password" formControlName="password"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>


