<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="球吧名称">
      <input nz-input [(ngModel)]="search.barName">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="球吧分类">
      <nz-select [(ngModel)]="search.barType">
        <!--0:足球1:篮球2:电竞3:全部-->
        <nz-option nzLabel="足球" [nzValue]="0"></nz-option>
        <nz-option nzLabel="篮球" [nzValue]="1"></nz-option>
        <nz-option nzLabel="电竞" [nzValue]="2"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="吧主昵称">
      <app-user-select
        [(model)]="search.userId"
        [queryParams]="{authenStatus: '2'}"
      ></app-user-select>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="创建时间">
      <nz-range-picker [(ngModel)]="dateRange" style="width: 100%"></nz-range-picker>
    </nz-input-group>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6" class="actions">
      <button
        *appAuthority="'create'"
        type="button"
        nz-button
        (click)="modalShow=true"
      >创建球吧
      </button>
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th>球吧LOGO</th>
    <th>球吧名称</th>
    <th>球吧分类</th>
    <th>创建时间</th>
    <th>申请人</th>
    <th>审核状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td>
      <img [src]="item.barLogo" alt="" height="35">
    </td>
    <td>{{item.barName}}</td>
    <td [ngSwitch]="item.barType">
      <span *ngSwitchCase="0">足球</span>
      <span *ngSwitchCase="1">篮球</span>
      <span *ngSwitchCase="2">电竞</span>
      <span *ngSwitchCase="3">全部</span>
    </td>
    <td>{{item.createTime}}</td>
    <td>{{item.nickname}}</td>
    <td [ngSwitch]="item.approveStatus">
      <span *ngSwitchCase="0">待审核</span>
      <span *ngSwitchCase="1">审核通过</span>
      <span *ngSwitchCase="2">审核拒绝</span>
    </td>
    <td>
      <ng-container *ngIf="item.approveStatus==0">
        <a (click)="modalUserShow=true;selected=item">吧主信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="modalApproveShow=true;selected=item">审核</a>
      </ng-container>
      <ng-container *ngIf="item.approveStatus==1">
        <a (click)="modalUserShow=true;selected=item">吧主信息</a>
      </ng-container>
      <ng-container *ngIf="item.approveStatus==2">
        <a (click)="modalUserShow=true;selected=item">吧主信息</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="modalRemark=true;selected=item">审核信息</a>
      </ng-container>
      <!--<ng-container *appAuthority="'delete'">
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="确认删除？"
          (nzOnConfirm)="onDeleteSingle(item.id)"
        >删除</a>
      </ng-container>-->
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal
  nzTitle="用户认证信息审核"
  [nzVisible]="modalApproveShow"
  (nzOnCancel)="modalApproveShow=false"
  (nzOnOk)="updateItem()"
  [nzOkLoading]="updating"
>
  <form [formGroup]="form">
    <p>请对球吧({{selected?.barName}})进行审核操作！审核通过后前端显示该球吧</p>
    <nz-radio-group style="display: block" formControlName="approveStatus">
      <label nz-radio [nzValue]="1">审核通过</label>
      <label nz-radio [nzValue]="2">审核不通过</label>
    </nz-radio-group>
    <label style="display: flex;margin-top: 12px">
      <span>备注：</span>
      <textarea style="flex: 1;height: 100px" nz-input formControlName="approveRemark"></textarea>
    </label>
  </form>
</nz-modal>
<nz-modal
  nzTitle="审核备注"
  [nzVisible]="modalRemark"
  (nzOnCancel)="modalRemark=false"
  [nzFooter]="null"
>
  <div>不通过原因：{{selected?.approveRemark}}</div>
</nz-modal>
<app-bar-user
  [queryId]="selected?.id"
  [(visiable)]="modalUserShow"
></app-bar-user>
