<nz-modal
  [nzTitle]="title"
  [nzVisible]="visiable"
  [nzWidth]="600"
  (nzOnCancel)="visiableChange.emit(false)"
  [nzOkLoading]="submiting"
  [nzOkDisabled]="!form.valid"
  (nzOnOk)="submit()"
>
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>banner标题</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input formControlName="bannerName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>banner图片</nz-form-label>
      <nz-form-control [nzSm]="17">
        <app-upload formControlName="url"></app-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>跳转链接</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input formControlName="linkUrl"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>应用模块</nz-form-label>
      <nz-form-control [nzSm]="17">
        <nz-select formControlName="moduleType">
          <nz-option nzLabel="TV" [nzValue]="0"></nz-option>
          <nz-option nzLabel="资讯" [nzValue]="1"></nz-option>
          <nz-option nzLabel="主播" [nzValue]="2"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>前端排序</nz-form-label>
      <nz-form-control [nzSm]="17">
        <input nz-input type="number" formControlName="orderNum"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

