<nz-tabset
  [(nzSelectedIndex)]="tabIndex"
>
  <nz-tab nzTitle="贴子列表">
    <form
      ngNoForm
      class="search-area"
      (submit)="$event.preventDefault();fetchList('page')"
      (reset)="fetchList('all')"
    >
      <div nz-row [nzGutter]="24">
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="贴子内容">
          <input nz-input [(ngModel)]="search.context">
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="所属球吧" *ngIf="barId==null">
          <app-bar-select [(model)]="search.barId"></app-bar-select>
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="吧主昵称">
          <app-user-select
            [(model)]="search.userId"
          ></app-user-select>
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="创建时间">
          <nz-range-picker [(ngModel)]="dateRange" style="width: 100%"></nz-range-picker>
        </nz-input-group>
      </div>
      <div nz-row [nzGutter]="24">
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="是否推荐">
          <nz-select [(ngModel)]="search.isRecommend">
            <nz-option [nzValue]="1" nzLabel="是"></nz-option>
            <nz-option [nzValue]="0" nzLabel="否"></nz-option>
          </nz-select>
        </nz-input-group>
        <div nz-col [nzSpan]="6" class="actions">
          <button
            *appAuthority="'delete'"
            type="button"
            nz-button
            nzType="danger"
            [disabled]="setOfCheckedId.size==0"
            (click)="onDelete()"
          >删除
          </button>
          <button
            nz-button
            [nzType]="'primary'"
            [disabled]="loading"
          >查询
          </button>
          <button
            type="reset"
            nz-button
            [disabled]="loading"
          >重置
          </button>
        </div>
      </div>
    </form>
    <ng-template #totalTemplate>共 {{total}} 条</ng-template>
    <nz-table
      [nzData]="list"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [(nzPageIndex)]="search.pageNum"
      [(nzPageSize)]="search.pageSize"
      (nzPageIndexChange)="fetchList()"
      (nzPageSizeChange)="fetchList('page')"
    >
      <thead>
      <tr>
        <th
          [nzChecked]="allChecked"
          [nzIndeterminate]="false"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>贴子内容</th>
        <th>发布人</th>
        <th>发布时间</th>
        <th>所属球吧</th>
        <th>分享数</th>
        <th>评论数</th>
        <th>点赞数</th>
        <th>删除状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list">
        <td
          [nzChecked]="setOfCheckedId.has(item.id)"
          (nzCheckedChange)="onItemChecked(item.id, $event)"
        ></td>
        <td>{{item.context.slice(0, 25)}}...</td>
        <td>{{item.nickname}}</td>
        <td>{{item.createTime}}</td>
        <td>{{item.barName}}</td>
        <td>{{item.shareCount}}</td>
        <td>{{item.commentCount}}</td>
        <td>{{item.likeCount}}</td>
        <td>{{item.isDel == 0 ? '正常' : '已删除'}}</td>
        <td>
          <a (click)="selected=item;tabIndex=1">贴子详情</a>
          <ng-container *appAuthority="'recommend'">
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              [nzPopconfirmTitle]="item.isRecommend==0?'确认设为推荐吗？':'取消推荐吗？'"
              (nzOnConfirm)="updateItem(item.id,item.isRecommend==0?1:0)"
            >{{item.isRecommend == 0 ? '设为推荐' : '取消推荐'}}</a>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab
    *ngIf="tabIndex==1"
    [nzTitle]="'贴子详情'"
  >
    <app-blog-detail
      [queryId]="selected?.id"
      (deleteSuccess)="onSubmitSuccess()"
    ></app-blog-detail>
  </nz-tab>
</nz-tabset>

