<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="环境名称">
      <input nz-input [(ngModel)]="search.envName">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="环境类型">
      <nz-select [(ngModel)]="search.type">
        <nz-option nzLabel="开发环境" [nzValue]="0"></nz-option>
        <nz-option nzLabel="生产环境" [nzValue]="1"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="状态">
      <nz-select [(ngModel)]="search.isEnable">
        <nz-option nzLabel="启用" [nzValue]="0"></nz-option>
        <nz-option nzLabel="关闭" [nzValue]="1"></nz-option>
      </nz-select>
    </nz-input-group>
    <div class="actions" nz-col [nzSpan]="6">
      <button
        *appAuthority="'create'"
        nz-button
        type="button"
        (click)="selected=null;modalShow=true"
      >新增环境
      </button>
      <button
        type="button"
        nz-button
        nzType="danger"
        [disabled]="setOfCheckedId.size==0"
        (click)="onDelete()"
      >删除
      </button>
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th
      [nzChecked]="allChecked"
      [nzIndeterminate]="false"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>环境名称</th>
    <th>环境类型</th>
    <th>生产的key地址</th>
    <th>推流地址</th>
    <th>播放地址</th>
    <th>是否启动</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td
      [nzChecked]="setOfCheckedId.has(item.id)"
      (nzCheckedChange)="onItemChecked(item.id, $event)"
    ></td>
    <td>{{item.envName}}</td>
    <td>{{item.type == 1 ? '生产环境' : '开发环境'}}</td>
    <td>{{item.generateKeyUrl}}</td>
    <td>{{item.streamUrl}}</td>
    <td>{{item.livingUrl}}</td>
    <td>{{item.isEnable == 0 ? '是' : '否'}}</td>
    <td>
      <a (click)="selected=item;modalShow=true;">编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        [nzPopconfirmTitle]="'确认'+(item.isEnable==0?'关闭':'启动')+'?'"
        (nzOnConfirm)="updateItem(item)"
      >{{item.isEnable == 0 ? '关闭' : '启动'}}</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-live-env-form
  [(visiable)]="modalShow"
  [detail]="selected"
  (submitSuccess)="onSubmitSuccess()"
></app-live-env-form>
