<nz-modal
  nzTitle="问题详情"
  [nzFooter]="null"
  [nzVisible]="visiable"
  (nzOnCancel)="visiableChange.emit(false)"
>
  <div class="item">
    <label>问题类型</label>
    <div>
      {{feedbackType.getLabel(detail?.type)}}
    </div>
  </div>
  <div class="item">
    <label>问题详情</label>
    <div>
      {{detail?.content}}
    </div>
  </div>
  <div class="item">
    <label>提交人</label>
    <div>{{detail?.userId}}</div>
  </div>
  <div class="item">
    <label>提交时间</label>
    <div>{{detail?.createTime}}</div>
  </div>
</nz-modal>
