<nz-modal
  nzTitle="认证信息"
  [nzFooter]="null"
  [nzWidth]="600"
  [nzVisible]="visiable"
  (nzOnCancel)="visiableChange.emit(false)"
>
  <nz-spin [nzSpinning]="loading">
    <p><span>真实姓名：{{detail?.realName}}</span></p>
    <p><span>身份证号：{{detail?.idNo}}</span></p>
    <div style="display: flex">
      <span>身份照片：</span>
      <div>
        <img alt="正面照" [src]="detail?.frontPhoto" width="200" style="margin-right: 12px"/>
        <img alt="反面照" [src]="detail?.versoPhoto" width="200"/>
        <br>
        <img alt="手持照" [src]="detail?.handPhoto" width="200" style="margin-top: 12px"/>
      </div>
    </div>
  </nz-spin>
</nz-modal>
