<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="dateRange=[];fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="主播名称">
      <input nz-input [(ngModel)]="search.username">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="手机号">
      <input nz-input [(ngModel)]="search.phone">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="性别">
      <nz-select [(ngModel)]="search.sex">
        <nz-option nzValue="0" nzLabel="男"></nz-option>
        <nz-option nzValue="1" nzLabel="女"></nz-option>
        <nz-option nzValue="2" nzLabel="未知"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="提交时间">
      <nz-range-picker style="width: 100%" [(ngModel)]="dateRange"></nz-range-picker>
    </nz-input-group>
  </div>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="审核状态">
      <nz-select [(ngModel)]="search.SStatus">
        <nz-option nzValue="0" nzLabel="待审核"></nz-option>
        <nz-option nzValue="1" nzLabel="审核通过"></nz-option>
        <nz-option nzValue="2" nzLabel="审核不通过"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="用户等级">
      <nz-select>
      </nz-select>
    </nz-input-group>
    <div nz-col [nzSpan]="6" class="actions">
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th>用户头像</th>
    <th>用户昵称</th>
    <th>手机号码</th>
    <th>性别</th>
    <th>提交审核时间</th>
    <th>用户等级</th>
    <th>粉丝数</th>
    <th>关注用户数</th>
    <th>审核状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td>
      <img
        [src]="item.headerImg"
        alt=""
        style="height: 35px;width: 35px;border-radius: 50%;object-fit: cover"
      >
    </td>
    <td>{{item.username}}</td>
    <td>{{item.phone}}</td>
    <td [ngSwitch]="item.sex">
      <span *ngSwitchCase="0">男</span>
      <span *ngSwitchCase="1">女</span>
      <span *ngSwitchCase="2">未知</span>
    </td>
    <td>{{item.createTime}}</td>
    <td>用户等级</td>
    <td>{{item.fansCount}}</td>
    <td>{{item.userFollowCount}}</td>
    <td [ngSwitch]="item.sstatus">
      <span *ngSwitchCase="0">待审核</span>
      <span *ngSwitchCase="1">审核成功</span>
      <span *ngSwitchCase="2">审核失败</span>
    </td>
    <td>
      <a (click)="modalInfoShow=true;selected=item;">认证信息</a>
      <ng-container *ngIf="item.sstatus==0">
        <ng-container *appAuthority="'examine'">
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="modalShow=true;selected=item;">审核</a>
        </ng-container>
      </ng-container>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal
  nzTitle="主播申请审核"
  [nzVisible]="modalShow"
  (nzOnCancel)="modalShow=false"
  (nzOnOk)="updateItem()"
  [nzOkLoading]="updating"
>
  <form [formGroup]="form">
    <p>请进行审核操作！审核通过后用户可以在前端 进行开启直播操作！</p>
    <nz-radio-group style="display: block" formControlName="status">
      <label nz-radio [nzValue]="1">通过</label>
      <label nz-radio [nzValue]="2">不通过</label>
    </nz-radio-group>
    <label style="display: flex;margin-top: 12px">
      <span>备注：</span>
      <textarea style="flex: 1;height: 100px" nz-input formControlName="remark"></textarea>
    </label>
  </form>
</nz-modal>
<app-anchor-auth-info
  [queryId]="selected?.userId"
  [(visiable)]="modalInfoShow"
></app-anchor-auth-info>
