<nz-modal
  [nzTitle]="'方案详情'"
  [nzVisible]="visiable"
  [nzWidth]="600"
  (nzOnCancel)="visiableChange.emit(false)"
  (nzOnOk)="submit()"
  [nzOkLoading]="submiting"
  [nzOkDisabled]="!form.valid"
  [nzFooter]="showAudit?'':null"
>
  <div class="item">
    <label>用户昵称</label>
    <div>{{detail?.nickname}}</div>
  </div>
  <div class="item">
    <label>赛事名称</label>
    <div>{{detail?.matchName}}</div>
  </div>
  <div class="item">
    <label>比赛信息</label>
    <div class="match">
      <div class="team">
        <img [src]="detail2?.homeLogo" alt>
        <p>{{detail2?.homeName}}</p>
      </div>
      <div class="vs">VS</div>
      <div class="team">
        <img [src]="detail2?.awayLogo" alt>
        <p>{{detail2?.awayName}}</p>
      </div>
    </div>
  </div>
  <div class="item">
    <label>猜球玩法</label>
    <div [ngSwitch]="detail?.gameType">
      <span *ngSwitchCase="1">北单胜负过关</span>
      <span *ngSwitchCase="2">北单胜平负</span>
    </div>
  </div>
  <div class="item">
    <label>竞猜信息</label>
    <div class="info">
      <div [class.active]="detail?.position==1">
        <p>{{detail2?.homeName}}</p>
        <p>{{detail2?.awayOdd}}</p>
      </div>
      <div [class.active]="detail?.position==2">
        <p>{{detail2?.awayName}}</p>
        <p>{{detail2?.homeOdd}}</p>
      </div>
    </div>
  </div>
  <div class="item">
    <label>分析</label>
    <div>{{detail?.anAlyze}}</div>
  </div>
  <div class="item">
    <label>价格</label>
    <div>{{detail?.money}}积分</div>
  </div>
  <ng-container *ngIf="showAudit">
    <hr>
    <div class="item">
      <label>方案审核</label>
      <div>方案审核通过后用户在前端赛事列表处可以查看到该赛事并进行购买操作，请审核！</div>
    </div>
    <form nz-form [formGroup]="form" style="padding-left: 7em">
      <nz-radio-group formControlName="status">
        <label nz-radio [nzValue]="1">通过</label>
        <label nz-radio [nzValue]="0">不通过</label>
      </nz-radio-group>
      <textarea nz-input rows="3" style="margin-top: 12px" formControlName="remark"></textarea>
    </form>
  </ng-container>
</nz-modal>
