<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="用户名称">
      <input nz-input [(ngModel)]="search.nickname">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="手机号">
      <input nz-input [(ngModel)]="search.phone">
    </nz-input-group>
    <div nz-col [nzSpan]="6" class="actions">
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th>用户头像</th>
    <th>用户昵称</th>
    <th>手机号码</th>
    <th>用户等级</th>
    <th>胜率</th>
    <th>返还率</th>
    <th>命中率</th>
    <th>连胜</th>
    <th>上次发布方案时间</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td>
      <img [src]="item.headerImg" alt="" style="height: 35px">
    </td>
    <td>{{item.nickname}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.levelId}}</td>
    <td>{{item.winRate}}%</td>
    <td>{{item.returnRate}}%</td>
    <td>命中率</td>
    <td>连胜</td>
    <td>{{item.pushTime}}</td>
    <td>{{item.pushStatus == 0 ? '正常' : '禁止发布'}}</td>
    <td>
      <a
        nz-popconfirm
        nzPopconfirmTitle="{{item.pushStatus == 0 ? '禁止该用户发布方案？' : '取消禁止该用户发布方案？'}}"
        (nzOnConfirm)="updateItem(item)"
      >{{item.pushStatus == 0 ? '禁止发布' : '取消禁止发布'}}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="selected=item;modalShow=true;">历史方案</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-scheme-history
  [detail]="selected"
  [(visiable)]="modalShow"
></app-scheme-history>
