<nz-modal
  nzTitle="认证信息"
  [nzWidth]="600"
  [nzFooter]="null"
  [nzVisible]="visiable"
  (nzOnCancel)="visiableChange.emit(false)"
>
  <p>真实姓名：{{detail?.realName}}</p>
  <p>身份证号：{{detail?.idNo}}</p>
  <div style="display: flex">
    <span>身份照片：</span>
    <div>
      <img alt="正面照" [src]="detail?.frontPhoto" width="200" style="margin-right: 12px"/>
      <img alt="反面照" [src]="detail?.versoPhoto" width="200"/>
      <br>
      <img alt="手持照" [src]="detail?.handPhoto" width="200" style="margin-top: 12px"/>
    </div>
  </div>
</nz-modal>
