<nz-modal
  [nzTitle]="title"
  [nzVisible]="visiable"
  [nzWidth]="600"
  (nzOnCancel)="visiableChange.emit(false)"
  [nzOkLoading]="submiting"
  [nzOkDisabled]="!form.valid"
  (nzOnOk)="submit()"
>
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>消息内容</nz-form-label>
      <nz-form-control [nzSm]="17">
        <textarea nz-input rows="5" formControlName="content"></textarea>
      </nz-form-control>
    </nz-form-item>
    <!--<nz-form-item>
      <nz-form-label [nzSm]="4">发送对象</nz-form-label>
      <nz-form-control [nzSm]="17">
        <app-user-select
          formControlName="userId"
          placeholder="不选择则发送给所有用户"
        ></app-user-select>
      </nz-form-control>
    </nz-form-item>-->
    <nz-form-item>
      <nz-form-label [nzSm]="4" nzRequired>发送时间</nz-form-label>
      <nz-form-control [nzSm]="17">
        <nz-date-picker
          style="width: 100%"
          nzShowTime
          formControlName="sendTime"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

