<nz-tabset [(nzSelectedIndex)]="tabIndex">
  <nz-tab nzTitle="直播列表">
    <nz-radio-group
      [(ngModel)]="status"
      (ngModelChange)="fetchList('all')"
      nzButtonStyle="solid"
      style="margin-bottom: 12px"
    >
      <label nz-radio-button [nzValue]="0">未开播</label>
      <label nz-radio-button [nzValue]="1">直播中</label>
      <label nz-radio-button [nzValue]="2">直播结束</label>
    </nz-radio-group>
    <form
      ngNoForm
      class="search-area"
      (submit)="$event.preventDefault();fetchList('page')"
      (reset)="fetchList('all')"
    >
      <div nz-row [nzGutter]="24">
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="直播标题">
          <input nz-input [(ngModel)]="search.liveTitle">
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="主播昵称">
          <input nz-input [(ngModel)]="search.username">
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="直播分类">
          <app-category-select
            [(ngModel)]="search.hostType"
          ></app-category-select>
        </nz-input-group>
        <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="直播时间">
          <nz-date-picker style="width: 100%"></nz-date-picker>
        </nz-input-group>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6" class="actions">
          <button
            *appAuthority="'insert'"
            type="button"
            nz-button
            (click)="selected=null;modalShow=true"
          >新增直播
          </button>
          <button
            *appAuthority="'delete'"
            type="button"
            nz-button
            nzType="danger"
            [disabled]="setOfCheckedId.size==0"
            (click)="onDelete()"
          >删除
          </button>
          <button
            nz-button
            [nzType]="'primary'"
            [disabled]="loading"
          >查询
          </button>
          <button
            type="reset"
            nz-button
            [disabled]="loading"
          >重置
          </button>
        </div>
      </div>
    </form>
    <ng-template #totalTemplate>共 {{total}} 条</ng-template>
    <nz-table
      [nzData]="list"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzShowTotal]="totalTemplate"
      [(nzPageIndex)]="search.pageNum"
      [(nzPageSize)]="search.pageSize"
      (nzPageIndexChange)="fetchList()"
      (nzPageSizeChange)="fetchList('page')"
    >
      <thead>
      <tr>
        <th
          [nzChecked]="allChecked"
          [nzIndeterminate]="false"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>直播标题</th>
        <th>直播预览图</th>
        <th>主播</th>
        <th>直播分类</th>
        <th>开播时间</th>
        <th *ngIf="status==1">观看人数</th>
        <th *ngIf="status==2">结束时间</th>
        <th *ngIf="status==2">直播时长</th>
        <th>直播状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list">
        <td
          [nzChecked]="setOfCheckedId.has(item.id)"
          (nzCheckedChange)="onItemChecked(item.id, $event)"
        ></td>
        <td>{{item.liveTitle}}</td>
        <td>
          <img [src]="item.liveImg" alt="" style="height: 35px">
        </td>
        <td>{{item.username}}</td>
        <td>{{item.hostType}}</td>
        <td>{{item.fromTime}}</td>
        <td *ngIf="status==1"><a (click)="selected=item;tabIndex=1">观看人数</a></td>
        <td *ngIf="status==2">{{item.toTime}}</td>
        <td *ngIf="status==2">{{item.lengthOfTime}}</td>
        <td [ngSwitch]="item.sstatus">
          <span *ngSwitchCase="0">未开播</span>
          <span *ngSwitchCase="1">直播中</span>
          <span *ngSwitchCase="2">已结束</span>
        </td>
        <td [ngSwitch]="item.sstatus">
          <ng-container *ngSwitchCase="0">
            <a
              *appAuthority="'edit'"
              (click)="modalShow=true;selected=item;"
            >编辑</a>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <a
              *appAuthority="'end'"
            >下播</a>
            <!--<nz-divider nzType="vertical"></nz-divider>
            <a>弹幕填充</a>-->
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <a (click)="selected=item;modalData=true">直播数据</a>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab
    [nzTitle]="selected.liveTitle+'-观看人数'"
    *ngIf="tabIndex==1"
  >
    <app-audience-list
      queryType="live"
      [queryId]="selected?.id"
    ></app-audience-list>
  </nz-tab>
</nz-tabset>
<app-set-user
  [(visiable)]="modalSetUser"
  type="subscriber"
></app-set-user>
<app-live-form
  [(visiable)]="modalShow"
  (submitSuccess)="onSubmitSuccess()"
  [queryId]="selected?.id"
></app-live-form>
<app-live-data
  [(visiable)]="modalData"
  [queryId]="selected?.id"
></app-live-data>
