<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6" class="actions">
      <button
        type="button"
        nz-button
        nzType="primary"
        (click)="modalSendShow=true"
      >发送礼物
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [nzShowPagination]="false"
>
  <thead>
  <tr>
    <th>序号</th>
    <th>礼物名称</th>
    <th>礼物图像</th>
    <th>礼物价值</th>
    <th>礼物标签</th>
    <th>单次赠送上限</th>
    <th>前端排序</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td>序号</td>
    <td>礼物名称</td>
    <td>礼物图像</td>
    <td>礼物价值</td>
    <td>礼物标签</td>
    <td>单次赠送上限</td>
    <td>前端排序</td>
    <td>
      <a (click)="selected=item;modalShow=true">编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="selected=item;modalQuantityShow=true">赠送数量设置</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-gift-form
  [detail]="selected"
  [(visiable)]="modalShow"
></app-gift-form>
<app-send-gift
  [(visiable)]="modalSendShow"
></app-send-gift>
<app-quantity-setting
  [(visiable)]="modalQuantityShow"
  [detail]="selected"
></app-quantity-setting>
