<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="菜单名">
      <input nz-input [(ngModel)]="search.menuName">
    </nz-input-group>
    <div class="actions" nz-col [nzSpan]="18">
      <button
        nz-button
        type="button"
        (click)="selected=null;modalShow=true"
      >新增菜单
      </button>
      <button
        nz-button
        type="button"
        nzType="danger"
        (click)="onDelete()"
        [disabled]="setOfCheckedId.size==0"
      >删除</button>
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th
      [nzChecked]="allChecked"
      [nzIndeterminate]="false"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>ID</th>
    <th>菜单名</th>
    <th>路径</th>
    <th>父级</th>
    <th>排序</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td
      [nzChecked]="setOfCheckedId.has(item.menuId)"
      (nzCheckedChange)="onItemChecked(item.menuId, $event)"
    ></td>
    <td>{{item.menuId}}</td>
    <td><i
      *ngIf="item.icon&&item.icon.length>0"
      nz-icon
      [nzType]="item.icon"
      style="margin-right: 5px"
    ></i>{{item.menuName}}</td>
    <td><a [routerLink]="'/main/'+item.path">{{item.path}}</a></td>
    <td>{{item.parentId}}</td>
    <td>{{item.orderNum}}</td>
    <td>
      <a (click)="selected=item;modalShow=true;">编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a
        nz-popconfirm
        nzPopconfirmTitle="确认删除?"
        (nzOnConfirm)="onDeleteSingle(item.menuId)"
      >删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<app-menu-form
  [(visiable)]="modalShow"
  [detail]="selected"
  (submitSuccess)="onSubmitSuccess()"
></app-menu-form>
