/* You can add global styles to this file, and also import other style files */
body {
  /*min-width: 1800px;*/
}

.search-area [nz-row] {
  margin-bottom: 12px;
}

.search-area nz-select {
  width: 100%;
}

.search-area .actions > button {
  margin-right: 12px;
}

.ck-editor__editable_inline {
  min-height: 350px;
}

.table {
  border: 1px solid #cccccc;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #cccccc;
  padding: 8px;
}
