<form
  ngNoForm
  class="search-area"
  (submit)="$event.preventDefault();fetchList('page')"
  (reset)="fetchList('all')"
>
  <div nz-row [nzGutter]="24">
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="用户名">
      <input nz-input [(ngModel)]="search.username">
    </nz-input-group>
    <nz-input-group nz-col [nzSpan]="6" nzAddOnBefore="手机号">
      <input nz-input [(ngModel)]="search.phone">
    </nz-input-group>
    <div nz-col [nzSpan]="6" class="actions">
      <button
        nz-button
        [nzType]="'primary'"
        [disabled]="loading"
      >查询
      </button>
      <button
        type="reset"
        nz-button
        [disabled]="loading"
      >重置
      </button>
    </div>
  </div>
</form>
<ng-template #totalTemplate>共 {{total}} 条</ng-template>
<nz-table
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="search.pageNum"
  [(nzPageSize)]="search.pageSize"
  (nzPageIndexChange)="fetchList()"
  (nzPageSizeChange)="fetchList('page')"
>
  <thead>
  <tr>
    <th>用户头像</th>
    <th>用户昵称</th>
    <th>手机号码</th>
    <th>性别</th>
    <th>注册时间</th>
    <th>粉丝数</th>
    <th>关注用户数</th>
    <th>关注贴吧数</th>
    <th>关注时间</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of list">
    <td><img
      style="height: 35px;width: 35px;border-radius: 50%;object-fit: cover"
      [src]="item.headerImg"
      alt
    /></td>
    <td>{{item.username}}</td>
    <td>{{item.phone}}</td>
    <td>{{sexType.getLabel(item.sex)}}</td>
    <td>{{item.createTime}}</td>
    <td>{{item.fansCount}}</td>
    <td>{{item.followUserCount}}</td>
    <td>{{item.followBarCount}}</td>
    <td>{{item.createTime}}</td>
  </tr>
  </tbody>
</nz-table>
